<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<th:block layout:fragment="headScripts">
    <script th:inline="javascript">
        $(function(){
            $("#modify").on("click", function(){
                const seq = [[${info.seq}]];
                location.href="/diary/form?seq="+seq;
            });
        });
    </script>
</th:block>
<div class="form-body" layout:fragment="bodyContent">
    <form id="diaryForm">
        <table>
            <tr>
                <th>카테고리</th>
                <td th:text="${info.category.text}"></td>
            </td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${info.title}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${info.contents}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${info.author}"></td>
            </tr>
        </table>
    </form>
    <div class="bottom-area" th:if="${info.author eq loginId}">
        <button type="button" id="modify" class="btnType1">수정</button>
    </div>
</div>
</html>